name: Lint and Test

on: [pull_request]

permissions:
  checks: write
  pull-requests: write
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          token: ${{secrets.GITHUB_TOKEN}}

      - name: Install dependencies
        run: npm i
        
      - name: Lint
        uses: reviewdog/action-eslint@v1
        with:
          github_token: ${{secrets.GITHUB_TOKEN}}
          reporter: bot

  test:
    runs-on: ubuntu-latest
    needs:
      - lint

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          token: ${{secrets.GITHUB_TOKEN}}

      - name: Test
        run: |
          docker compose up -d mongo rabbit minio
          npm i
          npm run test
